/* Archivo separado de estilos */
html, body {
  height: 100%; /* ocupa el 100% de la altura visible */
  margin: 0; /* elimina los márgenes por defecto del navegador */
  background: linear-gradient(to bottom, #052659, #5483B3);
  color: white;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(to bottom, #052659, #5483B3);

  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: Arial, sans-serif;
}

.contenedor-logo {
  margin-bottom: 20px; /* separa el logo del rectángulo */
}

.logo{
  float: right;
  width: 350px;
  height: 250px;
}

.rectangulo {
  width: 400px;
  height: 350px;
  background-color: #052659;
  border-radius: 12px;

  /* Centrar horizontal texto */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-top: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);

}

.rectanguloregistro {
  width: 900px;
  height: 500px;
  background-color: #052659;
  border-radius: 12px;

  /* Centrar horizontal texto */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-top: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);

}

.rectangulo h2 {
  margin: 0;
  color: white;
}

/* Contenedor del formulario */
.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  gap: 20px;
  width: 100%;
  max-width: 300px;
}

.formulario form {
  display: flex;
  flex-direction: column;
  align-items: center;  /* centra los hijos (inputs, botones) horizontalmente */
  width: 100%;
}

.boton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}


  /* Estilo del botón */
  .boton button {
    background-color: #5483B3;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 10px 0;
    width: 40%;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

.boton button:active {
  transform: translateY(4px);
  box-shadow: 0 1px 0 #3b6c99;
}

.botonR {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.btnR {
  background-color: #5483B3;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 10px 0;
  width: 40%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* efecto hover */
.btnR:hover {
  background-color: #3b6a99;
}


.formulario input {
  width: 80%;              /* ajusta el ancho dentro del rectángulo */
  max-width: 350px;        /* límite máximo opcional */
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  outline: none;
  font-size: 16px;
  margin-bottom: 15px;
}




.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 12px;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox]+svg {
  display: none;
}

input[type=checkbox]:checked+svg {
  display: block;
}

.check-box {
  position: relative;
}

.check-box label {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: left;
  padding-left: 88px;
}

.check-box label svg {
  position: absolute;
  top: 0;
  left: 0;
}
