
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}



::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
/* Importar desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}


.categories{
  display: grid;
   grid-template-columns: 20% 60% 20%;
    gap: 20px;
    justify-items: center;
    align-items: center;
    padding: 20px;


}
.categories-center{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  width:100%;
  height:400px;
  align-items:center;
  justify-items:center;

}
.texto-intermedio{
  display:flex;
  text-align:center;
  justify-content: center;
  align-items: center;
  padding: 25px;

}
.cabecera{
  background-color: #031832;
  padding: 0px;
  color: white;
  /*margin: 3px 3px 3px 3px*/;
  overflow: hidden;
}
.foot{
  display: grid;
  grid-template-columns: 30% 40% 30% ;


}
.container-fluid {
  display: grid ;
  padding-left: 0 ;
  padding-right: 0 ;
}
.logo{
  float: left;
  width: 100%;
  height: 150px;
}
.textoLogo{
  font-size: 30px;
  font-family: 'Copperplate Gothic Light';
  float: left;
  margin-top: 70px;
  margin-right: 40px;
}

.contenedor-detalles h1 {
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
  white-space: normal;
}

.contenedor-detalles {
  max-width: 600px;
}

section select,option{
  background-color: #8ab8f8;
  border-radius: 70px;

}
section button {
  background-color: goldenrod;
  border-radius: 50px;

}

/*
section{
  background-color: #052659;
  overflow: hidden;
}
*/
.contenedor-producto{
  float: left;
  margin-left: 100px;
  background-color: #cccccc;
  border-radius: 70px;
}



.contenedor-detalles{
  float: right;
  color: azure;
  padding: 20px;
  font-size: 13px;
}

footer {
  background-color: #031832;
  color: white;
  padding: 40px 20px;
  text-align: center;
}

.footer-content h1 {
  font-size: 24px;
  margin-bottom: 30px;
}

.contact-info p {
  margin: 15px 0;
  font-size: 16px;
}

.copyright {
  margin-top: 30px;
  font-size: 14px;
  opacity: 0.7;
}

.Rectangle{
  height:5vh;
  width:100%;
  background-color:#7DA0CA;


}

.anim-img {
  padding:20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.anim-img:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}


.descuento {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: #031832;
  color: black;  /* Color del texto */
  /*font-family: 'Copperplate Gothic Light';*/
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.descuento p {
  margin: 0;  /* Elimina márgenes alrededor del párrafo */
}

/*-----------------------------------------------NACHO PRUEBA */
.productosFila {
  display: flex;
  flex-wrap: nowrap; 
  overflow-x: auto; 
  gap: 20px;
  padding: 10px;
}

.producto {
  min-width: 250px;
  flex: 0 0 auto; /* mantiene el ancho fijo */
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.producto:hover {
  transform: scale(1.05);
}

.producto img {
  height: 200px;
  object-fit: contain;
  padding: 10px;
}
/*-----------------------------------------------------------------------*/
.flexDetalletProducto {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  justify-content: center;
  align-items: center;
  /**/

  flex: 0 0 calc(20% - 10px);

}




.regisboton{
  width: 15%;
  height: 80%;
  background-color: black;

  color: white;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
}

.regisboton:hover{
  transform: translateY(-3px);
  text-decoration: underline;


}


#id{
  display: none;
}


section div button {
  margin-bottom: 20px;
}



.dashContainer{

  color:white;
}

.row{
  display: flex;
  flex-wrap: wrap;
  margin:0;
  justify-content: space-between;
}
.info{
  background-color: #052659;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 30px;
  height: 400px;
  width: 50%;
  font-size:15px;
}
.left {
  order: 1;

}
.right{
  order: 2;

}
.image-container {
  width: 50%;
  height: 400px;
  overflow: hidden;
  padding: 0;
  margin: 0;
  flex-shrink: 0;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}




h2 {
  margin-bottom: 20px;
}
.presentacion{
  display:grid;
  grid-template-columns: 50% 25% 25%;
  grid-auto-rows: minmax(100px, auto);

}
.nueva{
  background-color: #0f5132;
}

.pupo {
  grid-column: 1;
  grid-row: 1 / 3;
  overflow: hidden; /* evita desbordes */
  height: 1000px; /* usa toda la altura visible de la pantalla */
}


fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* Anahí */

.card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  min-height: 60px;
  display: flex;
  align-items: center;
}

.textoDashboard{
  flex-grow: 1;
  text-align: justify;
  font-size: 15px;
  line-height: 1.5;
  min-height: 100px; /* Altura mínima para descripciones */
  max-height: 120px; /* Altura máxima */
}
.card-text {
  flex-grow: 1;
  text-align: justify;
  font-size: 15px;
  line-height: 1.5;
  min-height: 100px; /* Altura mínima para descripciones */
  max-height: 120px; /* Altura máxima */
  overflow: hidden;
  margin-bottom: 15px;
}

.flex_container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 40px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  justify-content: center;
  align-items: stretch;
}
.card {
  display: flex;
  flex-direction: column;
  width: 250px;
  transition: 0.3s ease;
  padding: 10px 20px;
}

.card-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card:hover {
  transform: translateY(-10px);
}

.btn-custom.btn {
  background-color: #283b70; /* Color azul */
  color: #e8e3e3;              /* Texto en blanco */
  padding: 10px 20px;        /* Relleno interno */

}
svg {
  width: 150px;
  height: 40px;
}
.imgproduct {
  width: 100%;
  height: 100%;
  object-fit: cover; /* llena el div sin deformar */
  display: block;
}



/*Otros productos dentro de los detalles*/
.productos-slider {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  padding: 10px;
  background: linear-gradient(to bottom,#052659,white);

}
.otrosProductos{
  height: 50px;
  background-color: #052659;
  color: rgb(178, 184, 202);
  margin-bottom: 0%;


}

.imgrecomendaciones{
  width: 200px;
  height: 200px;
  object-fit: cover;
  display: block;
}
   .card {
  overflow: visible ;

}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

